### Exports
export(domain)
export(incPercentile)
export(lin.ratio)
export(linarpr)
export(linarpt)
export(lingini)
export(lingini2)
export(lingpg)
export(linpoormed)
export(linqsr)
export(linrmpg)
export(residual_est)
export(var_srs)
export(vardom)
export(vardom_othstr)
export(vardomh)
export(variance_est)
export(variance_othstr)
export(varpoord)
export(vardcros)
export(vardchanges)

import(laeken)
import(foreach)
import(plyr)
import(reshape2)
import(gdata)
import(lpSolve)
import(data.table)
import(MASS)

